#banner{
    background-image: url('../../assets/images/banner1-f.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    height: 85vh !important;
    position: relative;
} 
.waves{
    position: absolute;
    bottom: 0;
    left: 0;
}

.text{
    position: absolute;
    top: 9rem !important;
    left: 12rem !important;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: var(--textDark) !important; 
}
.text h1 {
    font-size: 5rem !important;
    color: var(--textDark) !important;
    text-shadow: 1px 1px 3px var(--textDark);

}
.text h4 {
    font-weight: 600 !important;
}

@media (max-width:1024px) {

.text { 
    top: 7rem !important;
    left: 10rem !important;
}
.text h1 {
    font-size: 3.5rem !important;
}
   
}


@media (max-width:820px) {

    #banner{
        margin-top: 2rem;
        height: 45vh !important;   
    } 

    .text{  
        top: 7rem !important;
        left: 7rem !important;
    }

    .text h1 {
        font-size: 3rem !important;
    }
      
}

@media (max-width:578px) {

    #banner{
        position: relative;
        margin-top: 2.5rem;
        height: 45vh !important;
       
    } 
    .text{
        top: 4rem !important;
        left: 4rem !important;
    }
    .text h1 {
        font-size: 2rem !important;
        text-shadow: 1px 1px 2px var(--dark);
    }
    .text h4 {
        font-size: 1rem !important;
        font-weight: 500 !important;
        text-shadow: 0.5px 0.5px 0.775px var(--dark);
       
    }
       
}

@media (max-width:420px) {

    #banner{
        position: relative;
        margin-top: 2.5rem;
        height: 35vh !important;
       
    } 
    .text{
        top: 3rem !important;
        left: 2rem !important;
    }
    .text h1 {
        font-size: 1.5rem !important;
        text-shadow: 1px 1px 2px var(--dark);
    }
    .text h4 {
        font-size: 0.875rem !important;
        font-weight: 500 !important;
       
    }
       
}