#jobSeeker{ 
    background-color: var(--bg);
    padding: 3rem 8rem;
    padding-top: 5rem;  
}

.jobSeeker-heading h2{
    color: var(--textDark);
    text-decoration: underline;
    width: 100%;
}

.jobSeeker-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.jobSeeker-content .card{
    background-color: var(--contrast);
    width: 60rem;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 12px 12px 1px var(--secondary);   
    transition: all 0.3s;
}
.jobSeeker-content .card:hover{
    background-color: var(--bg);
    border: 3px solid var(--textDark);
    width: 60rem;
    padding: 1rem;
    margin: 1rem;
    box-shadow: -12px 12px 1px var(--secondary); 
}
.jobSeeker-content .card h4{
    color: var(--textDark);
}
.jobSeeker-content .card .card-text{
    color: var(--textDark) !important;
}
#card-btn{
    background: var(--gredient) !important;
    color: var(--white);
    border: none !important;
    padding: 0.5rem 1rem;
    border-radius: 5px;  
}
#card-btn:hover{
    background: var(--boxHov) !important;
    color: var(--white);
}
#jobSeeker a{
    color: var(--white) ;
    text-decoration: unset;
}
#jobSeeker a:hover{
    color: var(--white) ;
   
}
@media (max-width:1024px) {
    .jobSeeker-content .card{
        width: 50rem;
    }
    
}

@media (max-width:820px) {
    #jobSeeker{ 
        padding: 3rem 4rem;
        padding-top: 5rem;  
    }
    .jobSeeker-content{
       text-align: center;
    }
    .jobSeeker-content .card{
        width: 40rem;
        padding: 0rem;
    }   
}

@media (max-width:420px) {
    #jobSeeker{ 
        padding: 3rem;
        padding-top: 5rem;  
    }
    .jobSeeker-content{
       text-align: center;
    }
    .jobSeeker-content .card{
        width: 20rem;
        padding: 0rem;
    }   
}