#notice{
    padding: 1rem 8rem;
    padding-top: 5rem !important;
    background-color:var(--bg) ;
}
.notice-heading{
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    text-align: center !important;
    background: var(--gredient);
}
.notice-heading h2{
    color: var(--white);
    margin:  0 !important;
    font-weight: 700;  
}
.notice-text{
    padding: 2rem;
}

.notice-text li{
    color: var(--textDark);
}
.notice-text p{
    color: var(--textDark);
}

@media (max-width:1024px) {

    #notice{
        padding: 1rem 6rem;
    }
    .notice-text{
        padding: 1.5rem;
    }
    
}

@media (max-width:820px) {

    #notice{
        padding: 1rem 4rem;
    }
    .notice-heading{ 
     margin-bottom: 0.775rem;
    } 
    
}

@media (max-width:578px) {

    #notice{
        padding: 1rem 2rem;
    }
    
}

@media (max-width:420px) {
    #notice{
        padding: 1rem !important;
        padding-top: 5rem !important;
        padding-bottom: 0 !important;
       
    }
    .notice-heading{ 
     margin-bottom: 0.5rem;
    } 
    
}